html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    color: antiquewhite;
    height: 100%;
}
html.dark-mode {
    color: rgba(22,22,22)
}

body{
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}
header{
    position: relative;
    background-color: rgba(22,22,22);
    height: 7vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
html.dark-mode header{
    background-color: rgb(228, 212, 194)
}

.card-info{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    min-width: 450px;
}
.card-fig{
    background-color: #000;
    height: 6em;
    width: 6em;
    border-radius: 50%;
}
h3{
    width: 50%;
    padding-top: 0;
}
.ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    list-style: none;
}
.menu-sticky{
    border-bottom: #000 solid 1px;
    position: sticky;
    top: 0;
}
.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    list-style: none;
    padding-top: 2rem;
    padding-left: 3rem;
    position: sticky;
    top: 0;
    background: linear-gradient(180deg, rgba(22,22,22)70%, rgba(24, 24, 24, 0.75));
    height: 5vh;
    width: 100%;
    margin: 0 ;
}
html.dark-mode .menu{
    background: linear-gradient(180deg,rgb(189, 177, 161),  rgba(189, 177, 161, .5)60%);   
}
html.dark-mode .menu-sticky{    
    border: none;
}
.menu li{
    text-decoration: none;
    color: antiquewhite;
    font-size: 1.6rem;
    padding: 0%;
    width: 45%;
    font-weight:bold;
    white-space: nowrap;
}
.menu li:hover{
    border-bottom: #f1f1f1 solid 1px;
}
html.dark-mode .menu li{
    color: rgb(0, 0, 0);
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(43, 43, 43);
    height: auto;
    width: 100vw;
    padding: 2em 0;
    margin: 0;
}
.container-profile{
    padding: 4rem;
    width: 90%;
    height: auto;
    border-radius: 1%;
    background-color: rgba(0, 0, 0, 0.365);
}
.three-li{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.three-li ul{
    list-style: none;
    font-size: 1.4rem;
}
p{
    font-size: 2rem;
}
html.dark-mode main{
    background-color: rgba(201, 188, 172, 0.9)
}
.section {
    background-color: rgba(33,33,33);
    height: auto;
    width: 100vw;
    margin: 0 0;
    display: flex;
    align-items: center;
    box-shadow: 0px -8px 20px  rgb(134, 62, 29);
}
.container-contact div{
    padding-left: 4rem;
}
.container-contact ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    flex-direction: column;
}
.container-contact li{
    font-size: 2rem;
}
.container-contact i{
    font-size: 2.2rem;
    margin: 2rem;
    float: left;
}.container-contact a{
    margin-top: 2.1rem;
    display: flex;
    align-items: center;
    color: antiquewhite;
}
html.dark-mode .container-contact a{
    color: #000;
}
.container-contact{
    align-items: flex-start;
    height: 100%;
}
html.dark-mode .section{
    background-color: rgb(189, 177, 161)
}
#left{
    justify-content:flex-start;
    padding-left: 3rem;
}
#right{
    justify-content:flex-end;
    padding-right: 3rem;
}
.section-fig, .section-fig-right, .section-fig-mob{
    background-color: #000;
    display: flex;
    height: 25vw;
    min-height: 330px;
    width: 40vw;
    min-width: 330px;
    border-radius: 7%;
    border: 3px solid rgb(134, 62, 29);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    margin: 2rem;
}
.profile-pic{
    background-color: #000;
    display: flex;
    height: 25%;
    min-height: 330px;
    width: 25%;
    min-width: 330px;
    border-radius: 7%;
    border: 3px solid rgb(134, 62, 29);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    margin: 2rem;
    float: left;
}
.section-fig-mob{
    display: none;
}
.section-fig:hover, .section-fig-right:hover{
    height: 25.2vw;
    min-height: 330px;
    width: 40.5vw;
    min-width: 330px;
    box-shadow: 4px 4px 20px  rgb(134, 62, 29);
}
#left .section-fig:hover{
    box-shadow: 4px 4px 20px  rgb(134, 62, 29);
}
#right .section-fig:hover{
    box-shadow: -4px 4px 20px  rgb(134, 62, 29);
} 

#bitcoin{
    background-image: url('bitcoin.png');
}
#pop{
    background-image: url('pop.gif');
}
#profile{
    background-image: url('profile.jpeg');
}
#data-analysis{
    background-image: url('data-analysis.png');
}
.section-info{
    height: 22vw;
    min-height: 330px;
    width: 40vw;
    min-width: 330px;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
}
#info-right{
   text-align:end;
}
h1{
    margin: .4rem;
}
.line{
    background-color: antiquewhite;
    width: 100%;
    min-width: 8rem;
    height: 1px;
    box-shadow: 0px 3px 10px 1px rgb(253, 253, 253);
}
html.dark-mode .line{
    background-color: rgba(22,22,22);
    box-shadow: 0px 3px 10px 1px  rgb(134, 62, 29);
}
.h1-section{
    margin: 0;
    padding-bottom: 1rem;
    text-transform: uppercase;
}
.h1-section:hover{
    font-size: 2.2rem;
}
.h1-link{
    font: inherit;
    text-decoration: none;
    color: inherit;
}
.info{
    font-size: 1.8rem;
}
.dropdown {
    position: relative;
    display: inline-block;

    display: none;
}
  
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.card-button{
    font-size: 1.8rem;
    background-color: transparent;
    border: none;
    color:antiquewhite;
    border-radius: 50%;
    padding: .5rem;
}
.card-button:hover{
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    cursor: pointer;
}
html.dark-mode .card-button{
    color: rgb(22,22,22)
}
html.dark-mode .card-button:hover{
    background-color: rgba(22,22,22, .3)
}
footer{
    display: flex;
    justify-content: flex-end;
    padding:0;
    margin:0;
    position: fixed;
    bottom: 0;
    background-color: black;
    color: antiquewhite;
    height: 3.5%;
    width: 100%;
    overflow: hidden;
}
.footer{
    display: flex;
    align-items:center;
    gap: 1rem;
    list-style: none;
    margin:0;
}
a{
    text-decoration: none;
}
.footer-button{
    font-size: 1rem;
    background-color: transparent;
    border: none;
    color:antiquewhite;
    border-radius: 50%;
    padding: 3px;
}
.footer-button:hover{
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    cursor: pointer;
}
#moon{
    display: none;
}
html.dark-mode #moon{
    display: block;
}
#sun{
    display: block;
}
html.dark-mode #sun{
    display: none;
}
.burguer, #burguer, .test{
    display: none;
}

@media screen and (max-width: 1200px) {
    .info{
        font-size: 1.2rem;
    }
    .h1-section{
        font-size: 1.8rem;
    }
    .h1-section:hover{
        font-size: 1.9rem;
    }
}

@media screen and (max-width: 900px) {
    body{
        min-height: 100vh;
        height: auto;
    }
    .menu-sticky{
        display: flex;
        flex-direction: column;
        position: fixed;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        right: 0;
        width: 35%;
        bottom:0;
        display: none;
    }
    .menu{

        bottom: 0;
        padding-right: 8rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 1rem;
        align-items: center;
        background: rgba(0,0,0,0.8);
    }
    .menu-sticky.hidden {
        display: flex;
    }
    header{
        font-size: .8rem;
        width: 100vw;
        display: flex;
        justify-self: center;
        align-items: center;
        padding: 0%;
        margin: 0%;
    }
    .card-info{
        width: 0%;
        display: grid;
        grid-template-columns: 2.5fr 1fr;
        flex-direction: column;
        justify-self: center;
        align-items: center;
    }
    .card-button{
        display: none;
    }
    .test{
        display: block;
    }
   
    .burger{
        display: block;
        width: 3rem;
        height: 3rem;
        border: none;
        background-color: transparent;
        color:antiquewhite;
        font-size: 1.8rem;
    }
    #burguer{
        display: block;
    }
    h3{
        display: none;
    }
    .h1-link{
        font-size: 1.4rem;
    }
    main{
        display: flex;
        justify-content: center;
        align-items: start;
        min-height: 100vh; /* Garante que a main ocupe pelo menos a altura da viewport */
        height: auto;
    }
    .section, #left, #right{
        display: flex;
        flex-direction: column;
        height: 70vh;
        padding: 0%;
        justify-content: start;
        margin: 0%;
    }
    footer{
        position: fixed;
        width: 100vw;
        bottom:0px;
        backface-visibility: hidden ;
    }

    .section-fig,  .section-fig-mob{
        border: none;
        border-radius: 0%;
        min-height: 60%;
        width: 100%;
        margin:0;
    }
    .section-fig-right{
        display:none;
    }
    .section-fig-mob{
        display: block;
        
    }
    .section-info{
        justify-content: space-around;
        align-items: center;
        min-height: 20%;
        padding: 1rem;
        height: auto;
        text-align: center;
    }
    #info-right{
        text-align: center;
        justify-content: space-around;
        align-items: center;
        min-height: 20%;
        padding: 1rem;
    }
    .info{
        display: none;
    }
}